/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    cursor: none; /* Cache le curseur par défaut */
}

/* Empêche le curseur par défaut sur liens, boutons, inputs, textareas et labels */
a, button, input, textarea, label {
    cursor: none;
}

/* Styles communs des sections */
section {
    display: flex;
    flex-direction: column;
    transition: background-position 0.1s ease;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    z-index: 1;                             /* Ici pour les nuance de blanc */
    position: relative;
    background-color: rgba(255, 255, 255, 0.70);
}

#background-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Envoie ce fond derrière les autres éléments */
}

#contact, #projets, #a-propos, #accueil {
    justify-content: center;
}

#contact {
    justify-content: space-evenly;
}

#projets {
    justify-content: space-between;
}

#accueil {
    padding: 50px 0;
    /*z-index: 3;
    position: relative;
    background-color: rgba(255, 255, 255, 0.70); */
}

header, footer {
    transition: background-position 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
}

header {
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 6vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    height: 3vh;
    background-color: rgba(255, 255, 255, 0.70);
    position: relative;
}


/* Styles des éléments internes */
#contact form, .projet {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.465);
}

#contact form input,
#contact form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#contact form label {
    margin-bottom: 5px;
}

#contact form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

#projets .projet {
    max-width: 800px;
    margin-bottom: 20px;
}

#a-propos h3 {
    margin-top: 20px;
}

#accueil h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#accueil p {
    font-size: 1.2rem;
    max-width: 600px;
}

/* Style du menu de navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav ul li a:hover {
    background-color: rgba(148, 144, 144, 0.2);
    color: #ff0000;
    border-radius: 5px;
}

/* Style du curseur personnalisé */
#custom-cursor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(45deg, #0000ff, #ff0000, #00ff00, #0000ff, #ff0000);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease;
}

html {
    scroll-behavior: smooth;
  }

/* Animation pour le gradient */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Styles pour les titres dans les sections */
section h1, section h2 {
    color: #fff;
}

/* Style des boutons */
button {
    background-color: rgba(74, 74, 74, 0.8);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(51, 51, 51, 0.8);
}
